html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

*,*:after,*:before { box-sizing:border-box }

html {
  height: 100%;
  font-size: 1em;
}

body {
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
}

h1, h2, h3, h4 {
  margin: 0.4em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
  margin: 0 auto;
}

h2 {font-size: 1.953em;}
h3 {font-size: 1.563em;}
h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

p { margin-bottom: 1.3em }

ul li { display: inline }

ul.styles {
  float: right;
  padding: 5px 5px 0 0;
}

textarea {
  width: 100%;
  height: 100%;
  margin: none;
  border: none;
  font-size: 1em;
  background-color: rgba(61, 180, 160, 1);
  color: white;
}

textarea:focus {
  border: none;
  outline: 0;
}

::-webkit-input-placeholder { color: rgba(26, 147, 130, 1) }

.ember-view { height: 100% }

.main {
  width: 100%;
  height: 100%;
}

.left {
  width: 50%;
  height:100%;
  float: left;
  background-color: #1E1E1E;
  font-size: 18px;
}

.right {
  width: 50%;
  height:100%;
  float: left;
  font-size: 18px;
}

.markdown, .html {
  padding: 20px;
  height: 100%;
}

.html {
  padding-top: 50px;
  background-color: white;
  color: rgba(0, 56, 80, 1);
}

.markdown {
  padding-top: 50px;
  background-color: rgba(61, 180, 160, 1);
}


/* Radio Button Defaults */

input[type="radio"] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: .2s;
  cursor:pointer;
}

input[type="radio"]:focus { outline: 0 }


/* Radio Buttons Styles */
input[type="radio"].moss {
  background: rgba(61, 180, 160, 1);
  border: solid rgba(black, 0.5) .2em;
}

input[type="radio"].shadow {
  background: rgba(52, 41, 86, 0.8);
  border: solid rgba(black, 0.5) .2em;
}

input[type="radio"].fire {
  background: rgba(91, 29, 6, 1);
  border: solid rgba(black, .5) .2em;
}

/* Radios on Hover */
input[type="radio"].moss:hover {
  border: solid rgba(white, 1) .2em;
}

input[type="radio"].shadow:hover {
  border: solid rgba(white, 1) .2em;
}

input[type="radio"].fire:hover {
  border: solid rgba(white, 1) .2em;
}



@import 'theme2.scss';
@import 'theme1.scss';
@import 'theme3.scss';
