html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

*,*:after,*:before { box-sizing:border-box }

html {
  height: 100%;
  font-size: 1em;
}

body {
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 0.4em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: #545775;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
  margin: 0 auto;
}

h2 {font-size: 1.953em;}
h3 {font-size: 1.563em;}
h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

nav {
  background-color: #2a2a2a;
  overflow: hidden;
  color: #59C9A5;
  padding: 3px 10px;
}

nav li { display: inline }

ul.styles {
  float: right;
  padding-top: 5px;
}

textarea {
  width: 100%;
  height: 100%;
  margin: none;
  background: #1E1E1E;
  border: none;
  font-size: 1em;
  color: #F0544F;
}

textarea:focus {
  border: none;
  outline: 0;
}

.styles li { margin: 0px }

.ember-view { height: 100% }

.main {
  width: 100%;
  height: 100%;
}

.left {
  width: 50%;
  height:100%;
  float: left;
  background-color: #1E1E1E;
  font-size: 18px;
}

.right {
  width: 50%;
  height:100%;
  float: left;
  font-size: 18px;
}

.markdown, .html {
  padding: 20px;
  height: 100%;
}

.html { background-color: #D3FFF3 }


/* Radio Button Defaults */

input[type="radio"] {
  width: 15px;
  height: 15px;
  box-shadow:
    inset 0 0 0 .4em white,
    0 0 0 .3em;
  border-radius: 50%;
  transition: .2s;
  cursor:pointer;
  opacity: .5;
  background: #eeeeee;
  color: #363945;
  -webkit-appearance: none;
}

input[type="radio"]:hover {
  background: #363945;
  box-shadow:
    inset 0 0 0 .6em white,
    0 0 0 .3em;
}

input[type="radio"]:checked {
  opacity: 1;
}

input[type="radio"]:focus {
  outline: 0;
}

footer {
  background-color: #2a2a2a;
  overflow: hidden;
  color: #59C9A5;
  padding: 3px 10px;
}

@import 'theme1.scss';
@import 'theme2.scss';
@import 'theme3.scss';
