.shadow .html {
  background-color: rgba(28, 28, 28, 1);
  color: rgba(153, 135, 244, 1);
}

.shadow .markdown {
  background-color: rgba(52, 41, 86, 1);
}

.shadow textarea {
  background-color: rgba(52, 41, 86, 1);
  color: rgba(178, 158, 200, 1);
}

.shadow ::-webkit-input-placeholder { color: rgba(229, 231, 230, 1) }


/* Radio Buttons */
.shadow input[type="radio"].moss {
  background: rgba(61, 180, 160, 1);
  border: solid rgba(black, 0.25) .2em;
}

.shadow input[type="radio"].shadow {
  background: rgba(52, 41, 86, 1);
  border: solid rgba(white, .9) .2em;
}

.shadow input[type="radio"].fire {
  background: rgba(91, 29, 6, 1);
  border: solid rgba(black, .25) .2em;
}

/* Radios on Hover */
.shadow input[type="radio"].moss:hover {
  border: solid rgba(white, 1) .2em;
}

.shadow input[type="radio"].shadow:hover {
  border: solid rgba(white, 1) .2em;
}

.shadow input[type="radio"].fire:hover {
  border: solid rgba(white, 1) .2em;
}
