.shadow .html {
  background-color: gray;
  color: #A4886D;
}

.shadow .markdown {
  background-color: #0B101E;
}

.shadow textarea {
  background-color: #0B101E;
  color: rgba(95, 27, 154, 1);
}

/* Radio Buttons */
.shadow input[type="radio"].moss {
  background: rgba(48, 136, 108, 1);
  border: solid rgba(black, 0.25) .2em;
}

.shadow input[type="radio"].shadow {
  background: rgba(174, 172, 213, 1);
  border: solid rgba(white, 1) .2em;
}

.shadow input[type="radio"].fire {
  background: rgba(91, 29, 6, 1);
  border: solid rgba(black, .25) .2em;
}

/* Radios on Hover */
.shadow input[type="radio"].moss:hover {
  border: solid rgba(white, 1) .2em;
}

.shadow input[type="radio"].shadow:hover {
  border: solid rgba(white, 1) .2em;
}

.shadow input[type="radio"].fire:hover {
  border: solid rgba(white, 1) .2em;
}
