
{{outlet}}

<footer>
<div class="twitter">
  Made by <a target='_blank' href="http://www.twitter.com/mrjadaml">@mrjadaml</a>
</div>
<div class="github">
  Opensource on <a target='_blank' href="https://github.com/MrJadaml/ember_markdown_editor">github</a>
</div>

</footer>
